/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: lightslategrey;
  color: antiquewhite;
}

.mat-mdc-snack-bar-container {
  &.error-toast {
    --mdc-snackbar-container-color: #d42222;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: antiquewhite;
  }
  &.warn-toast {
    --mdc-snackbar-container-color: #e79e00;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: antiquewhite;
  }
  &.success-toast {
    --mdc-snackbar-container-color: #2ab648;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: antiquewhite;
  }
  &.info-toast {
    --mdc-snackbar-container-color: #0066ff;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: antiquewhite;
  }
}
