<app-spinner [isBusy]="isBusy" [diameter]="100"></app-spinner>

<div class="view" *ngIf="isDataLoaded; else viewNotFound">
  <mat-card *ngFor="let image of imagesContent" class="card-container">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title"
        >{{ case.name }} {{ case.surname }}</mat-card-title
      >
      <mat-card-subtitle class="card-subtitle">{{
        case.birthdate
      }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="image" alt="DICOM Image" />
    <mat-card-actions>
      <button mat-raised-button color="outline" (click)="beginSegmentation()">
        {{ "START-SEGMENTATION" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #viewNotFound
  ><p class="text">{{ "VIEW-NOT-FOUND" | translate }}.</p></ng-template
>
<div class="segmentedImg" *ngIf="segmentedData">
  <img [src]="'data:image/png;base64,' + segmentedData" alt="Dicom Img" />
</div>
